@import 'tailwindcss';

/* @layer theme {
    @thene {

        --color-dark-green: #032221;
        --color-Bangladesh-green: #03624C;
        --color-Mountain-meadow: #2CC295;
        --color-Caribbean-green: #00DF81;
        --color-White: #F1F7F6;
        --color-Rich-black: #021B1A;


        --radius: 0.75rem;
    }
}

@layer base {
 html{
    scroll-behavior: smooth;
 }
 button {
    cursor: pointer;
 }
 body {
    background-color: var(--color-Rich-black);
 }
}

@layer components {
  
}

@layer utilities {
  
} */